<!DOCTYPE html>
<html ng-app="nmAppDirectory">
  <head>
    <title><%= title %></title>
    <script type="text/javascript" src="/config/server"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
    <% include scripts.ejs %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- % include index.serverside.ejs % -->
    <% include plain.html %>
  </body>
</html>
