<!DOCTYPE html>
<html ng-app="nmAppDirectory">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/config/server"></script>
    <% include scripts.ejs %>
  </head>
  <body>
    <!-- % include index.serverside.ejs % -->
    <% include plain.html %>
  </body>
</html>
