body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.app-card {
  height : 30vh;
}

.app-card .app-title {
  height: 30% !important;
}
.app-title h1 {
  text-align: center;
}

.app-card .app-img {
  height: 80%;
  overflow: hidden;
}