*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

span a {
  position: relative;
  display: inline-block;
  margin: 15px 25px;
  outline: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
  font-size: 1.35em;
}

span a:hover,
span a:focus {
  outline: none !important;
  text-decoration: none !important;
}body {
  padding: 50px;
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #3A3F44;
}

.title a {
  text-align: center !important;
}

.app-card {
  height : 30vh;
}

.app-card .app-title {
  height: 30% !important;
}
.app-title h1 {
  text-align: center;
}

.app-card .app-img {
  height: 80%;
  overflow: hidden;
}

.app-card .app-img img {
  margin: 0 auto;
}

.app-card .app-img img:hover,
.app-card .app-img img.hover {
  border: 2px #FF5722 solid;
}

.cl-effect-13 a {
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}

.cl-effect-13 a::before {
  position: absolute;
  top: 100%;
  left: 50%;
  color: transparent;
  content: '•';
  text-shadow: 0 0 transparent;
  font-size: 1.2em;
  -webkit-transition: text-shadow 0.3s, color 0.3s;
  -moz-transition: text-shadow 0.3s, color 0.3s;
  transition: text-shadow 0.3s, color 0.3s;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  pointer-events: none;
}

.cl-effect-13 a:hover::before,
.cl-effect-13 a:focus::before {
  color: #fff;
  text-shadow: 10px 0 #fff, -10px 0 #fff;
}
.cl-effect-13 a:hover::before,
.cl-effect-13 a:focus::before,
.cl-effect-13 a:hover,
.cl-effect-13 a:focus {
  color: #fff;
}

.cl-effect-13 a:hover,
.cl-effect-13 a:focus {
  text-decoration: none !important;
}

.cl-effect-6 a:hover::before,
.cl-effect-6 a:focus::before,
.cl-effect-6.cl-hover a::before {
  color: #fff;
  text-shadow: 10px 0 #fff, -10px 0 #fff;
}
.cl-effect-6 a:hover::before,
.cl-effect-6 a:focus::before,
.cl-effect-6 a:hover,
.cl-effect-6 a:focus,
.cl-effect-6.cl-hover a::before
.cl-effect-6.cl-hover a {
  color: #fff;
  cursor: pointer;
}

.cl-effect-6 a:hover,
.cl-effect-6 a:focus,
.cl-effect-6.cl-hover a {
  text-decoration: none !important;
}

a {
  color: #888D92 !important;
}
a::before,a::after {
  background-color: #888D92 !important;
}

a:hover,.cl-effect-6.cl-hover a {
  color: #FF5722 !important;
  outline: none !important;
  text-decoration: !important;
}

a:hover::before,a:hover::after,
.cl-effect-6.cl-hover a::before,
.cl-effect-6.cl-hover a::after {
  background-color: #FF5722 !important;
}

a:hover,
a:focus, .cl-effect-6.cl-hover a {
  outline: none !important;
  text-decoration: none !important;
}
.cl-effect-6 a {
  margin-top: 0px;
  padding: 10px 20px;
}

.cl-effect-6 a::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: top 0.3s;
  -moz-transition: top 0.3s;
  transition: top 0.3s;
}

.cl-effect-6 a::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
}

.cl-effect-6 a:hover::before,
.cl-effect-6.cl-hover a::before {
  top: 100%;
  opacity: 1;
  height: 4px;
}

.cl-effect-6 a:hover::after,
.cl-effect-6.cl-hover a::after {
  margin-top: -1px;
  height: 102%;
} 